{% load i18n %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{% block details-title %}{% endblock %}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ data.date }}</h6>
    <div class="card-text">{{ data.transactions }} Transactions</div>
    <div class="card-text text-danger">${{ data.balance }}</div>
    <br />
    <div class="text-center">
      <a href="{% block details-view-url %}{% endblock %}" class="btn btn-info">
        <span class="oi oi-graph"></span> {% block details-button-label %}{% endblock %}</a>
      {% block details-add %}{% endblock %}
    </div>
  </div>
</div>