{% load i18n %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Login</h4>
    <form action="{% url "login" %}?next={% url "home" %}" method="post">
      {% csrf_token %}
      {% include "_forms/_input.html" with field=form.username size="lg" %}
      {% include "_forms/_input.html" with field=form.password type="password" size="lg" %}
      {% trans 'Login' as login %}
      <div class="float-right">
        {% include "_forms/_button.html" with type="primary" icon="" text=login size="lg" %}
      </div>
    </form>
  </div>
</div>