{% load i18n %}
<div class="card">
  <div class="card-body">
    <form action="{{ action|default:"." }}" method="post">
      {% csrf_token %}
      {{ form.ledge }}
      {% trans "Occured At" as occurred %}
      {% include "_forms/_datepicker.html" with name="occured_at" label=occurred size="lg" %}
      {% include "_forms/_select.html" with field=form.type size="lg" %}
      {% include "_forms/_select.html" with field=form.currency size="lg" %}
      {% include "_forms/_input.html" with field=form.amount size="lg" focus="true" %}
      {% trans 'Spend It' as spend %}
      <div class="float-right">
        {% include "_forms/_button.html" with type="danger" icon="" text=spend size="lg" %}
      </div>
    </form>
  </div>
</div>
