{% extends "base.html" %}
{% load i18n frugaltags %}
{% block title %}{% blocktrans %}Today's Transactions{% endblocktrans %}{% endblock %}
{% block extrahead %}
  <style>
    .amount { font-size:1.0em;font-weight:bold; }
  </style>
{% endblock %}
{% block content %}
  <a name="top"></a>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{% now "F j, o" %}</h4>
      <h6 class="card-subtitle mb-2 text-muted">
        {% blocktrans with balance=ledger.balance difference=ledger.difference class=ledger.difference|get_difference_class %}
          Balance: ${{ balance }} (<span class="text-{{ class }}">{{ difference }}</span>)
        {% endblocktrans %}
      </h6>
      <br />
      <div class="row">
        {% trans "Deposits" as deposits_label %}
        {% include "_widgets/_transaction_list_summary_item.html" with amount=ledger.deposits icon="arrow-circle-bottom text-success" label=deposits_label %}
        {% trans "Withdraws" as withdraws_label %}
        {% include "_widgets/_transaction_list_summary_item.html" with amount=ledger.withdraws icon="arrow-circle-top text-danger" label=withdraws_label %}
        {% trans "Payments" as payments_label %}
        {% include "_widgets/_transaction_list_summary_item.html" with amount=ledger.payments icon="calendar text-danger" label=payments_label %}
        {% trans "Purchases" as purchases_label %}
        {% include "_widgets/_transaction_list_summary_item.html" with amount=ledger.purchases icon="dollar text-danger" label=purchases_label %}
      </div>
      {% include '_widgets/_chart.html' with id=id %}
      <br />
      <div class="row">
        <div class="col-12 text-center">
          <a href="#" id="view" class="btn btn-sm btn-outline-primary w-50 pl-1 pr-1">
            <span class="oi oi-eye"></span>
            <span id="view-label">{% blocktrans %}View Transactions{% endblocktrans %}</span>
          </a>
        </div>
      </div>
    </div>
    <ul id="transactions" class="list-group list-group-flush d-none">
      {% for daily_ledger_transactions in ledger.transactions %}
      {% for tx in daily_ledger_transactions %}
      <li class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
            <span class="text-{% if tx.type == '4' %}success{% else %}danger{% endif %}">{{ tx.amount }}</span>
          </h5>
          <small>{% if tx.automatic %}{% trans "Automatic" %} {% endif %}{{ tx.get_type_display }}</small>
        </div>
      </li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <div id="back" class="text-center d-none p-3"><a href="#top">back to top</a></div>
{% endblock %}
{% block extrascript %}
  <script>
    toggleTransactions = () => {
      const txs = document.getElementById('transactions');
      const back = document.getElementById('back');
      const label = document.getElementById('view-label');

      if (txs.classList.contains('d-none')) {
        txs.classList.remove('d-none');
        back.classList.remove('d-none');
        label.innerHTML = '{% trans "Hide Transactions" %}';
      } else {
        txs.classList.add('d-none');
        back.classList.add('d-none');
        label.innerHTML = '{% trans "View Transactions" %}';
      }
    };

    document.addEventListener("DOMContentLoaded", _ => {
      const view = document.getElementById('view');
      view.addEventListener('click', (e) => {
        e.preventDefault();
        toggleTransactions();
      });
      view.addEventListener('touchend', (e) => {
        e.preventDefault();
        toggleTransactions();
      });
    });
  </script>
{% endblock %}