{% extends "base.html" %}
{% load i18n frugaltags %}
{% block title %}{% blocktrans %}Today's Transactions{% endblocktrans %}{% endblock %}
{% block extrahead %}
  <style>
    .amount {
      font-size:1.0em;
      font-weight:bold;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{% now "F j, o" %}</h4>
      <h6 class="card-subtitle mb-2 text-muted">
        {% blocktrans with balance=ledger.balance difference=ledger.difference class=ledger.difference|get_difference_class %}
          Balance: ${{ balance }} <span class="text-{{ class }}">({{ difference}})</span>
        {% endblocktrans %}
      </h6>
      <br />
      <div class="row">
        <div class="col-6 col-sm-3 text-center">
          <span class="oi oi-arrow-circle-bottom"></span><br />
          <span class="d-none d-sm-inline d-md-inline d-lg-inline d-xl-inline">{% trans "Deposits" %} <br /></span>
          <span class="amount">${{ ledger.deposits }}</span></div>
        <div class="col-6 col-sm-3 text-center">
          <span class="oi oi-arrow-circle-top"></span><br />
          <span class="d-none d-sm-inline d-md-inline d-lg-inline d-xl-inline">{% trans "Withdraws" %} <br /></span>
          <span class="amount">${{ ledger.withdraws }}</span></div>
        <div class="col-6 col-sm-3 text-center">
          <span class="oi oi-calendar"></span><br />
          <span class="d-none d-sm-inline d-md-inline d-lg-inline d-xl-inline">{% trans "Payments" %} <br /></span>
          <span class="amount">${{ ledger.payments }}</span></div>
        <div class="col-6 col-sm-3 text-center">
          <span class="oi oi-dollar"></span><br />
          <span class="d-none d-sm-inline d-md-inline d-lg-inline d-xl-inline">{% trans "Purchases" %} <br /></span>
          <span class="amount">${{ ledger.purchases }}</span></div>
      </div>
      <br />
      <div class="row">
        <div class="col-12 text-center"><a href="#" id="view" class="btn btn-sm btn-primary">
          <span class="oi oi-eye"></span> {% blocktrans %}View transactions{% endblocktrans %}</a>
        </div>
      </div>
    </div>
    <ul id="transactions" class="list-group list-group-flush d-none">
      {% for tx in object_list %}
      <li class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">${% if tx.get_type_display == 'Withdraw' %}({{ tx.amount }}){% else %}{{ tx.amount }}{% endif %}</h5>
          <small>{% if tx.automatic %}{% trans "Automatic" %} {% endif %}{{ tx.get_type_display }}</small>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
{% block extrascript %}
  <script>
    function toggleTransactions() {
      const txs = document.querySelector('#transactions');

      if (txs.classList.contains('d-none')) {
        txs.classList.remove('d-none')
      } else {
        txs.classList.add('d-none')
      }

    };

    document.addEventListener("DOMContentLoaded", _ => {
      const view = document.querySelector('#view');
      view.addEventListener('click', (e) => {
        e.preventDefault();
        toggleTransactions();
      });
      view.addEventListener('touchend', (e) => {
        e.preventDefault();
        toggleTransactions();
      });
    });
  </script>
{% endblock %}