{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% blocktrans %}New Transaction{% endblocktrans %}{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-12">
      <form action="." method="post">
        {% csrf_token %}
        {{ form.ledge }}
        {% include 'money/_forms/_hidden.html' with field=form.ledger %}
        {% include 'money/_forms/_select.html' with field=form.type size='lg' %}
        {% include 'money/_forms/_input.html' with field=form.amount size='lg' %}
        {% trans 'Spend It' as spend %}
        <div class="float-right">{% include 'money/_forms/_button.html' with type='danger' icon='' text=spend size='lg' %}</div>
      </form>
    </div>
  </div>
{% endblock %}