<div class="form-group">
  <label class="form-control-label" for="id_{% if field %}{{ field.name }}{% else %}{{ name }}{% endif %}">
    {% if field %}{{ field.name|capfirst }}{% else %}{{ label|capfirst }}{% endif %}</label>
  <div class="input-group">
    <div class="input-group-addon{% if field.errors %} border-danger bg-danger text-light{% endif %}">
      <span class="oi oi-{{ icon }}"></span>
    </div>
    <input type="text" class="form-control {% if size %}form-control-{{ size }}{% endif %}{% if field.errors %} border-danger{% endif %}"
           value="{% if field and field.value %}{{ field.value }}{% else %}{% if value %}{{ value }}{% endif %}{% endif %}"
           name="{% if field %}{{ field.name }}{% else %}{{ name }}{% endif %}"
           id="id_{% if field %}{{ field.name }}{% else %}{{ name }}{% endif %}"
           {% if not autocomplete %}autocomplete="off"{% endif %}>
  </div>
</div>