{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}NO TITLE{% endblock %} | frugal?</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.0.0-beta.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/open-iconic-1.1.1.min.css' %}">
    <style>
      html { font-size: 0.85em; }
      @include media-breakpoint-up(sm) { html { font-size: 0.9em; } }
      @include media-breakpoint-up(md) { html { font-size: 0.95em; } }
      @include media-breakpoint-up(lg) { html { font-size: 1.0em; } }
      @include media-breakpoint-up(xl) { html { font-size: 1.1em; } }
      body { padding-top:15px; }
    </style>
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <h2 class="text-center">
        <a class="btn btn-link float-right" href="/admin/"><span class="oi oi-cog"></span></a>
        <span class="oi oi-task"></span> {% blocktrans %}frugal?{% endblocktrans %}</h2>
      {% block content %}
      {% endblock %}
    </div>
    <script async src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script async src="{% static 'js/popper-1.11.0.min.js' %}"></script>
    <script async src="{% static 'js/bootstrap-4.0.0-beta.min.js' %}"></script>
    <script async src="{% static 'js/chartjs-2.7.0.bundle.min.js' %}"></script>
    {% block extrascript %}
    {% endblock %}
  </body>
</html>